.dashboard {
  border-top: 1px solid rgb(187, 184, 184);
  border-right: 1px solid rgb(187, 184, 184);
  background-color: rgb(248, 247, 247);
  height: 100vh;
  color: white;
  cursor: pointer;
  height: 360px;
}
.admin-dashboard .dashboard-menu {
  list-style: none;
  color:rgb(206, 140, 54);
  font-weight: 900;
  margin-top: 30px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 20px;
}
.admin-dashboard a{
  text-decoration: none;
}
.top {
  background-color: rgb(32, 31, 31);
  height: 60px;
}
.admin-dashboard .dashboard-btn {
  color: rgb(226, 160, 17);
  background-color: black;
  font-weight: 900;
  width:150px;
  margin-left: 10px;
}
