.collections-top{
    background-color: #272727;
    height:100px;
    width:100vw;
    overflow: hidden;
}
.home-collections-top{
    background-color: #272727;
    height:170px;
    width:100vw;
    overflow: hidden;
}
.top-sub-title{
    color:#feb800;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 6px;
}
.bottom-sub-title{
    margin: 0px 0px;
    color:rgb(120, 121, 121)
}