.banner-container{
    width:90%;
    margin: 0 auto;
}
.left-top{
    border-left: 3px solid rgb(218, 198, 18);
    padding-left: 15px;
}
.left-top span{
    color:rgb(197, 179, 20);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}
.left-top h1{
    overflow: hidden;
    font-weight: 900;
    font-size: 50px;
}
.left-top p{
    font-size: 14px;

    color:rgb(119, 119, 116)
}
.left-bottom span{
    color:rgb(173, 173, 170);
    font-size: 11px;
}
.left-bottom p{
    color:white;
    font-size: 28px;
    font-weight: 700;
}
.banner-btn{
    color: rgb(65, 61, 61);
    background-color: white;
    padding: 14px 16px;
    font-size: 14px;
    font-weight: 800;
}
.banner-img{
    margin-bottom: -700px;
}