
.content{
    background-image: url(../../../../assets/thank_bg.png);
    background-repeat: no-repeat;
    padding: 50px 0px;
    background-position: cover;
    
    
}
.content-info{
    margin:40px 110px;
}
.content h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size:30px;
    color:#ffffff;
}
.content-img img{
    max-width:60px;
    position: absolute;
}
.content-text{
    margin-left: 80px;
}
.content-text h4{
    color:#ffc61a;
    text-transform: uppercase;
    font-size: 21px;
    font-weight:700;
    

}
.content-text p{
    color:white;
    
    font-size: 12px;
    font-weight:400;
    

}
/*content end*/